parameters:
  level: 9
  paths:
    - src
    - tests
  excludePaths:
    - src/Resources/assets

  ignoreErrors:
      - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
      - '#Method M2MTech\\UxNavigation\\Tests\\.*Provider\(\) return type has no value type specified in iterable type iterable.#'
