{% block m2mLanguageSelector -%}
    <div class="languageSelector">
        {% for path in paths -%}
            <a href="{{ path(path.route, path.parameters) }}">{{ path.name|lower }}</a>
            {%- if not loop.last %} | {% endif %}
        {%- endfor %}
    </div>
{%- endblock %}
